# URL HTTPS exclusiva do checkout do Hemograma Descomplicado.
VITE_CHECKOUT_URL=
# Dados comerciais confirmados.
VITE_SELLER_NAME=
VITE_SUPPORT_EMAIL=
# Caminho local da marca oficial, por exemplo /images/logo-santa-helena.svg.
VITE_BRAND_NAME=
VITE_BRAND_LOGO=
